#table-usuario {
    margin-top : 20px
}
#txt-pesquisa{
	margin-top : 20px
}
#butonPesquisa{
	margin-top : 20px
}
#row-op{
	margin-top: 20px
}
#pesq-grupo{
	margin-top: 20px	
}
#ck-inativo{
	margin-top: 30px
}